/* @import url('https://fonts.googleapis.com/css2?Roboto:wght@700&Roboto:wght@300&Roboto:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    color: #590F23;
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
}
/* Header */
.nav-container {
    background-color:rgb(161,175,200); opacity:0.74;
  }
  
  .nav-container a {
    color: black;
  }
  
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgb(161,175,200); opacity:0.74;
    padding: 0.5em;
  }
  header{
    position: fixed;
    width: 95%;
    z-index: 10;
    background-color:white;
  }
  header .logo {
    font-weight: bold;
  }
  
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  header ul a {
    display: block;
    padding: 0 1em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
  }

.categories li:hover {
    background-color:  #73facb;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  /* box-shadow: #5C5959; */
}

.dropdown:hover .dropdown-content {
  display: block;
}