/* @import url('https://fonts.googleapis.com/css2?Roboto:wght@700&Roboto:wght@300&Roboto:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* padding: 2%; */
}
/* Header */
.nav-container {
  margin-top: -10px;
}

.nav-container a {
  color: black;

}
  
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em;
}
header{
    position: fixed;
    width: 95%;
    z-index: 10;
    background-color:white;
}
header .logo {
    font-weight: bold;
}
  
header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
  
header ul a {
    display: block;
    padding: 0 1em;
}
  
  .social-header {
    display: none;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
  }

.categories li:hover {
    background-color:  #73facb;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* main-context */
.main-context {
  display: block;
}

.intro img {
  width: 60%;
  margin-left: 20%;
  margin-top: 80px;
}
.intro p {
  text-align-last: center;
  font-size: 1.2rem;
  margin-left: 20%;
  margin-right: 20%;
}

.year {
    display: grid;
    width: 86%;
    grid-template-columns: auto auto auto;
    margin-left: auto;  
}
.career-2010 {
  display: grid;
  font-weight: bold;
  background-color: #FFD130;
  font-family: 'Open Sans', sans-serif;
  width: 50%;
}
.career-2010 p {
  margin-left: auto;
  margin-right: auto;
}
.career-2021 {
  display: grid;
  font-weight: bold;
  background-color: #FFD130;
  width: 50%;
  font-family: 'Open Sans', sans-serif;
}
.career-2021 p {
  margin-left: auto;
  margin-right: auto;
}
.career-content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid #FFD130;
}

.flight img{
  width: 8%;
  margin-top: 10px;
 
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.hobbies {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.hobbies h3{
  background-image: linear-gradient(90deg, #eeaeca 0%, #94bbe9 100%);
  width: 20%;
  height: 30px;
}
/* footer */
.footer {
  display: flex;
  grid-template-columns: 80% auto;
  justify-content: space-between;
  padding: 3em;
}
.footer p {
  color: black;
  font-size: 18px;
  font-family: Verdana, sans-serif;
}
.contact p:hover {
  background-color: #73facb;
  color: white;
}
.contact p:hover {
  background-color: #73facb;
  color: white;
}
#myBtn {
  font-size: 18px;
  font-family: Verdana, sans-serif;
  cursor: pointer; 
  background-color: #73FACB;
  border: none;
}