@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
  scroll-behavior: smooth;
}   
body {
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}
/* header */
.nav-container {
  margin-top: -11px;
}
.nav-container a {
  color: black;
}
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 2em;
  z-index: 10;
  width: 95%;
  background-color:white;
}

header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header ul a { 
  padding: 0 1em;
}
a {
  text-decoration: none;
}

img {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  width: 100%;
}
.categories li:hover {
  background-color:  #73facb;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  padding: 1em;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* main-context */

.introduction {
  border-bottom: 3px solid #A1AFC8;
  margin-bottom: 10px;
}
.role-title {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  margin-right: 45px;
}
.role {
  font-size: 1rem;
  font-weight: 900;
}
.role-content {
  font-size: 1rem;
}
/* .prolem-goal{
  display: block;
  width: 100%;
} */
.problem {
  display: inline-block;
  width: 40%; 
  vertical-align: top;
  margin-left: 5rem;
}
.goal {
  display: inline-block;
  width: 40%; 
  vertical-align: top;
  margin-left: 5rem;
}
.design-process-img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: -30px;
}

/* main-context */ 
.title img, h1 {
  display: inline-block;
  vertical-align: 1em;
}
.title img {
  width: 25px;
}
.project-detail {
  padding: 3.5em 10%;
}
video {
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 2em;
}

/* footer */
.footer {
  display: flex;
  grid-template-columns: 80% auto;
  justify-content: space-between;
  padding: 3em;
}
.footer p {
  color: black;
  font-size: 15px;
  font-family: Verdana, sans-serif;
}
.contact p:hover {
  background-color: #73facb;
}
#myBtn {
  font-size: 15px;
  font-family: Verdana, sans-serif;
  cursor: pointer; 
  background-color: #73FACB;
  border: none;
}