@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    color: #590F23;
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

/* Header */
.nav-container {
    margin-top: -11px;
}
.nav-container a {
    color: black;
}
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 2em;
    z-index: 10;
    width: 94%;
    background-color: white;
}
header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header ul a {
    padding: 0 1em;
}
a {
    text-decoration: none;
}
.categories li:hover {
    background-color:  #73facb;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    padding: 1em;
}
.dropdown:hover .dropdown-content {
    display: block;
}

img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Main Content */

#title {
    font-size: 2.5rem;
}
#intro-title {
    font-size: 1.5rem;
}
#intro-content {
    font-size: 1.1rem;
    line-height: 1.5;
}
.introduction {
    border-bottom: 3px solid #F26D85;
}

.role-title {
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    margin-right: 45px;
}
.role {
    font-size: 1rem;
    font-weight: 900;
}
.role-content {
    font-size: 1rem;
}

h2 {
    font-size: 1.6rem;
}
.problem {
    display: grid;
    grid-template-columns: 20% calc(80% - 4rem);
    grid-column-gap: 0.5rem;
    align-items: center;
    margin-bottom: 30px;
}
.goals {
    display: flex;
}
.goal {
    display: grid;
    grid-template-columns: 15% calc(80% - 2rem); 
    align-items: center;
    margin-bottom: 30px;
}
.goals img {
    float: left;
    margin-right: 1rem;
}

.goals li {
    width: 100%;
    margin: 0 0.5rem;
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    padding: 2rem 1rem 2rem 1.5rem;
}

.design-process {
    display: grid;
    grid-template-columns: 18% calc(80% - 4rem);
    grid-column-gap: 2rem;
    align-items: center;
    margin-bottom: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-column-gap: 2rem; */
}
.gallery img {
    width: 90%;
}

/* personas */
.design-persona img { 
    width: 100%;
}

.design-journey img {
    width: 70%;
}
/* competitior */
.competitive-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
}
.compet-detail {
    border: 2px solid rgb(206, 195, 224);
}
.compet-image {
    width: 100%;
    height: auto;
}
.text-padding {
    padding: 2rem;
}
.text-padding h4 {
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
}
ul.compet-list {
    list-style-type: none;
    position: relative;
    padding-left: 1.3rem;
}
ul.compet-list li:before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(206, 195, 224);
    position: absolute;
    left: 0;
    transform: translate(0%,0.5rem);
} 
/* ia */
.ia div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem; 
}
.ia img {
    width: 50%;
    margin-left: 3rem;
}

.userflow img {
    width: 80%;
}

.wireframe{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
}
.wireframe-detail {
    display: block;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    border: 2px solid rgb(206, 195, 224);
}
.wireframe-detail img {
    width: 100%;
    height: auto;
    display: block;
    border-style: none;
}
.wireframe-padding {
    padding: 3rem;
}

/* visual design */
.moodboard img {
    width: 90%;
    margin: auto;
    border: 2px solid  rgb(206, 195, 224);
}
.mockups img {
    width: 100%;
    margin: auto;
}
/* footer */
.footer {
    display: flex;
    grid-template-columns: 80% auto;
    justify-content: space-between;
    padding: 3em;
}
.footer p {
    color: black;
    font-size: 15px;
    font-family: Verdana, sans-serif;
}
.contact p:hover {
    background-color: #73facb;
}

#myBtn {
    font-size: 15px;
    font-family: Verdana, sans-serif;
    cursor: pointer; 
    background-color: #73facb;
    border: none;
}