@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
html {
    scroll-behavior: smooth;
  }
.nav-container {
    display: grid;
    grid-template-columns: 76% auto; 
}

header {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    padding: 2em;
}
header ul{
    display: flex;
    list-style-type: none;
    padding-inline-start: 10px;
}
header ul a {
    display: block;
    padding: 0.5em ;
    margin-left: 10px;
}
.logo img{
    width: 40%;
    /* background-attachment: fixed; */
    margin-left: 10rem;
}

a {
    text-decoration: none;
    color: black;
}

.social-header {
    padding: 2em;
}

.social-header ul a {
    display: block;
    padding: 0 1em;
}
.social-header ul {
    float: right;
    display: flex;
    list-style-type: none;
    margin-block-start: 1em;
    padding-inline-start: 40px;
}
.social-header img {
    width: 20px;
}
nav{
    text-decoration: none;

}

.categories a:hover{
    background-color: #73facb;
}

.main-context p{
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 3rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#hello {
    background-image: linear-gradient(to bottom right, #73FACB,#94DFFF );
}

#intro p{
    font-size: 1.5rem;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    font-family: Verdana, sans-serif;
    line-height: 1.5;
}
#people {
    background-image: linear-gradient(to bottom right, #FA739C,#FFE794 );
}

.project-detail {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}
.project-detail img {
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
}
.btn{
    display: block;
    margin-left: auto;
    margin-right: 2rem;
    background-color: #5C5959;
    height: 50px;
    color: white;
    border: none;
    text-decoration: underline;
}
.btn:hover {
    background-color: #73facb;
    color: black;
}
.text-padding .btn{
    margin-left: 16rem;
    height:50px;
    width:60%;
    background-color: #5C5959;
}
.footer {
    display: flex;
    grid-template-columns: 80% auto;
    justify-content: space-between;
    padding: 3em;
}
.footer p {
    font-size: 18px;
    font-family: Verdana, sans-serif;
}
.contact p:hover {
    background-color: #73facb;
    color: white;
}
#arrow p{
    font-size: 20px;
}
#arrow img {
    width: 50px;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#myBtn {
    font-size: 18px;
    font-family: Verdana, sans-serif;
    cursor: pointer; 
    background-color: #73FACB;
    border: none;
}