@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
html {
    scroll-behavior: smooth;
}
/* header */
.nav-container {
    display: grid;
    grid-template-columns: 60% auto; 
}

header {
    display: flex;
    padding: 2em;
}

header ul{
    display: flex;
    list-style-type: none;
    padding-inline-start: 50px;
}
header ul a {
    display: block;
    padding: 1.3em ;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    inline-size: 84px;
}

.logo img{
    width: 80%;
    margin-left: 2rem;
}

.categories a:hover{
    background-color: #73facb;
}

.social-header {
    padding: 2em;
}
.social-header ul a {
    padding: 0 1em;
}
.social-header img {
    width: 20px;
}
.social-header ul {
    float: right;
    display: flex;
    list-style-type: none;
    margin-block-start: 2em;
    width: 50%;
}

/* main context */
.main-context p{
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
/* resume-dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* main-content-context */

#intro p{
    font-size: 1rem;
    padding: 0.6em;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    font-family: Verdana, sans-serif;
    line-height: 1.5;
}

/* projects */
.projects {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.header-detail {
    position: relative;
    width: 100%;
}
.image {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    height:100%;
    width: 100%;
    opacity: 0;
    transition:  .1s ease-in-out;
    background-color: #6CC494;
}
.header-detail:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
.text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 30%;
    bottom: 40%;
    left:0;
    right: 0;
    text-align: center;
}
.text a {
    text-decoration: none;
    color: #2B2F29;
}
.header-detail-getmarried {
    position: relative;
    width: 100%;
}
.overlay-getmarried {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    height:100%;
    width: 100%;
    opacity: 0;
    transition:  .1s ease-in-out;
    background-color: #C29FF2;
}
.header-detail-getmarried:hover .overlay-getmarried {
    opacity: 1;
    cursor: pointer;
    
}
.text-getmarried {
    width: 80%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 30%;
    bottom: 40%;
    left:0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.text-getmarried a{
    width: 80%;
    word-wrap: break-word;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #2B2F29;
}
.header-detail-eatathome {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.overlay-eatathome {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    height:100%;
    width: 100%;
    opacity: 0;
    transition:  .1s ease-in-out;
    background-color: #A8B2C6;
}
.header-detail-eatathome:hover .overlay-eatathome {
    opacity: 1;
    cursor: pointer;
}
.text-eatathome {
    width: 80%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 30%;
    bottom: 40%;
    left:0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.text-eatathome p{
    width: 70%;
    word-wrap: break-word;
    text-align: center;
}
.text-eatathome a {
    width: 80%;
    word-wrap: break-word;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #2B2F29;
}
.header-detail-medengagement {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.overlay-medengagement {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    height:100%;
    width: 100%;
    opacity: 0;
    transition:  .1s ease-in-out;
    background-color: #8CDDE1;
}
.header-detail-medengagement:hover .overlay-medengagement {
    opacity: 1;
    cursor: pointer;
}
.text-medengagement {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2B2F29;
    font-size: 20px;
    position: absolute;
    top: 40%;
    bottom: 40%;
    left:0;
    right: 0;
    text-align: center;
     margin-left: auto;
    margin-right: auto;
}
.text-medengagement p{
    width: 70%;
    word-wrap: break-word;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* footer */
.footer {
    display: flex;
    grid-template-columns: 80% auto;
    justify-content: space-between;
    padding: 3em;
}
.footer p {
    color: black;
    font-size: 18px;
    font-family: Verdana, sans-serif;
}
.contact a {
    text-decoration: none;
}
.contact p:hover {
    background-color: #73facb;
}

