@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins',sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background-color: #BCECE0;
}

.nav-container a {
  color: black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #BCECE0;
  padding: 2em;
}

header .logo {
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header {
  display: none;
}

.hero {
  background: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.hero img {
  width: 84.6%;
}

section {
  padding: 1em 1em 2em 2em;
  text-align: center;
}

.projects {
  background: white;
}

.projects a img {
  /* border-radius: 1em; */
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .section img {
    width: 100%;
  }
  .projects {
    padding-top: 1em;
  }
  li.project0 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  li.project0 .picture {
    margin-right: auto;
    width: 54%;
  }
  li.project0 p {
    margin: auto;
  }

  li.project1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  li.project1 .picture {
    margin-left: auto;
    width: 45%;
  }
  li.project1 p {
    margin: auto;
  }
  li.project2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  li.project2 .picture {
    margin-right: auto;
    width: 65%;
  }
  li.project2 p {
    margin: auto;
  }
  li.project3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  li.project3 .picture {
    margin-right: auto;
    width: 60%;
  }
  li.project3 p {
    margin: auto;
  }
  li.project4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  li.project4 .picture {
    margin-left: auto;
    width: 55%;
  }
  li.project4 p {
    margin: auto;
  }
}

@media only screen and (max-width: 800px) {
  .hero-design {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 2em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 78% auto;
        grid-template-columns: 78% auto;
    background: unset;
  }
  .hero .subtitle {
    margin: auto;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.2em;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 78% auto;
        grid-template-columns: 78% auto;
    background: unset;
    background-color: white;
  }
  .hero-design {
    display: unset;
    margin-left: -75%;
    margin-top: 15%;
    width: 100%;
  }
}

.footer-background {
  height: 80%;
}

.footer-img {
  display: unset;
  margin-top: -15%;
  margin-left: 70%;
  width: 25%;
}
