@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&?family=Source+Serif+Pro:wght@300?family=Fira+Sans:wght@500&display=swap');
html {   
    scroll-behavior: smooth; 
}
#progress-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    background: linear-gradient(to right, #537494, #93c9ff);
    z-index: 100;
    width: 0%;
    transition: width 0.3s ease-out;
}
body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    color:  rgb(44, 45, 72);
}
body::after {
    background: url("/images/texture2.jpeg");
    content: "";
    height: 150%;
    left: 0;
    opacity: .08;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 201;
}
h2 {
    /* font-family: 'Bebas Neue', cursive; */
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    text-decoration: underline 5px solid #567899;
}
h3 {
    /* font-family: 'Bebas Neue', cursive; */
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
}
p {
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 28px;
    text-align: justify;
    /* width: 85%; */
}


a {
    text-decoration: none;
    color:rgb(44, 45, 72);
    font-family: Lato, sans-serif;
}
header{
    padding: 1.5em;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
header a{
    font-size: 2.3em;
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
}
header svg{
    width: 3em;
    margin-top: .1em;
    cursor: pointer;
}
.sticky {
    position: fixed;
    top:0;
    /* padding: .2em; */
    width: 94%;
    padding: 1.8em;
  }
  
nav{
    position: fixed; 
    right:0;
    top: 0;
    background: #1CE9B8;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}
nav ul { 
    list-style-type: none;
    padding: 0;
    margin-top: .8em;
    font-size: .8em;
}
nav a {
    padding: 1em 2em;
    display: block;
}
nav a:hover {
    background-color: rgb(44, 45, 72);
    color: rgb(242, 240, 240);
}
.close{
    float: right;
    padding: 1.5em;
    width: 2.5em;
}

/* main-contemt */
.heroimage {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.hero-header{
    display: block;
    padding-top: 4%;
    /* border-top:  5px solid rgb(162, 210, 252); */
    /* border-top:  5px solid  rgb(146, 242, 245); */
}
.header-detail{
    display: inline-block;
    width: 30%;
    /* margin-top: .9rem; */
}
.header-detail p{
    display: inline-block;
    font-size:  1em;
    width: 120%;
    margin-left: 3rem;
    line-height: 1;
}


#hero-h1 {
    display: inline-block;
    padding-left: 19%;
    text-align: center; 
    width: 20%;
    font-size: 1.5em;
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 600;
    font-style: normal;
    vertical-align: top;
}
.background {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    width: 56%;
    height: 10%;
    /* line-height: 1.6; */
    margin-left: auto;
    margin-right: auto;
}
.background h3 {
    width: 100%;
}
.problem-statement{
    display: block;
    margin:0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    width: 56%;
    height: 10%;
    /* line-height: 1.6; */
    margin-left: auto;
    margin-right: auto;
}
.problem-statement p{
    width: 90%;
}
.header-prototype {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}
/* button prototype */
.protobutton {
    display: block;
    width: 25%;
    padding: .9em;
    text-align: center;
    border-radius: 6px;
    background-color:rgb(44, 45, 72);
    color:white;
    margin-left: auto;
    margin-right: auto;
}
.protobutton a{
    color:white;
}
.protobutton:hover {
    background-color:#567899;
    border-radius: 6px;
}

.protoype-interact{
    padding-top: 3%;
    text-align: center;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}
.protofirst {
    display: block;
    width: 25%;
    padding: .9em;
    text-align: center;
    border-radius: 6px;
    background-color:rgb(44, 45, 72);
    color:white;
    margin-left: auto;
    margin-right: auto;
}
.protofirst a{
    color:white;
}
.protofirst:hover {
    background-color:#567899;
    border-radius: 6px;
}
.research {
    display: block;
    margin:0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    width: 56%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}
.research img{
    width: 50%;
}
.interview{
    display: block;
    margin:0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    width: 56%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}
.defineuserflow{
    display: block;
    margin:0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    width: 56%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    
}
.design {
    display: block;
    margin:0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    width: 56%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}
.present-wireframe{
    display: block;
    margin:0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    width: 56%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}
.present-wireframe h3{
    font-size: 1.2em;
    color: #567899;
}
.prototype{
    display: block;
    margin:0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    width: 56%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}
.highprototype{
    display: block;
    margin:0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    width: 56%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}
.highprototype img{
    width: 100%; 
    padding-bottom: 3%;
}
.user-test{
    display: block;
    margin:0;
    padding-left: 20%;
    padding-right: 20%;
    
    padding-top: 2%;
    width: 56%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}
.iterate{
    display: block;
    margin:0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    width: 56%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}
/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 3em;
}

.footer a {
    color: rgb(44, 45, 72);
    font-size: 1.2em;
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
}
.footer a:hover {
    background-color:  #567899;
    color:white;
}

#myBtn {
    font-size: 1.2em;
    color:  rgb(44, 45, 72);
 
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer; 
    border: none;
    background: none;
}
#myBtn:hover {
    background-color: #567899;
    color:white;
}

.open-nav {
    transform: translateX(0);
}


@media screen and (min-width: 900px){
    .menu {
        display: none;
    }
    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }
    svg.close {
        display: none;
    }
    nav ul {
        display: flex;
        margin: 0;
        font-size: .5em;
    }
    nav a {
        padding: 1em .8em;
    }
    nav a:hover {
        background: none;
        color: black;
        text-decoration: underline 5px solid #567899;
    }
    .header-detail{
        display: inline-block;
        width: 60%;
        margin-top: 1em;
    }
    .header-detail p{
        display: inline-block;
        width: 80%;
        margin-left: 10em;
        margin-top: .5em;
    }
   
}
@media screen and (max-width: 500px){
    .menu {
        display: none;
    }
    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }
    svg.close {
        display: none;
    }
    nav ul {
        display: flex;
        margin: 0;
        font-size: .5em;
    }
    nav a {
        padding: .5em  .8em;
    }
    .hero-header {
        display: block;
        margin-left: 10%;
        margin-right:  10%;
    }
    #hero-h1 {
        font-size: 1em;
        font-family: acumin-pro-condensed,sans-serif;
        font-weight: 700;
        font-style: normal;
        width: 80%;
      
    }
    #hero-h2 {
        font-size: 1em;
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .background img{
        display: block;
    
    }
    .header-detail {
        width: 80%;
        display: block;
    }

    .header-detail p{
        font-size:.8em;
        width: 100%;
    }
}
