body {
    color: #FFFFFF;
}
.hero-header {
    background-color:#A1AFC8;
    background-image:  linear-gradient(#A1AFC8, #CFDFFD);
    width: 100%;
    height: 120%;
}
#hero-h1 {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20%;
    margin-bottom: 5%;
    text-align: center; 
    height: 80%;
    font-size: 3.6vw;
    font-family:'Inter', sans-serif;
}
#hero-h2{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 12%;
    color :#333333;
    text-align: center; 
    width: 60%;
    height: 80%;
    font-size: 2vw;
    font-family: 'Playfair Display', serif;
    vertical-align: top;
    line-height: 1.8;
}
