@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}
/* header */
.nav-container {
margin-top: -11px;
}
.nav-container a {
    color: black;
}
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 2em;
    z-index: 10;
    width: 94%;
    background-color:white;
}
header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header ul a {
    padding: 0 1em;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.categories li:hover {
    background-color:  #73facb;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    padding: 1em;
} 

.dropdown:hover .dropdown-content {
    display: block;
}
/* main-content */

.introduction {
    border-bottom: 3px solid #6CC494;
    margin-bottom: 10px;
}
.role-title {
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    margin-right: 45px;
}
.role {
    font-size: 1rem;
    font-weight: 900;
}
.role-content {
    font-size: 1rem;
}
.design-process img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.problems {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:12px;
    border: 1px solid #6CC494;
    margin-bottom: 10px;
}


.goals {
    width: 80%;
    display: grid;
    grid-template-columns: 50% calc(50%);
    margin-left: auto;
    margin-right: auto;
    padding:12px;
    border: 1px solid #6CC494;
}

.goal-changed {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.goal-changed-1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.goal-changed-1 li {
    text-decoration: line-through;
}
.competitive-audit img{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}
.ideate li{
    margin-left: 17%;
}
.ideate-crazy8 {
    display: grid;
    grid-template-columns: 40% calc(40%);
    grid-column-gap: 5rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
.wireframe img{
    border: 1px solid slategray;
    margin-bottom: 30px;

}
.wireframes{
    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-column-gap: 1rem;
}
.wireframe-detail {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid #6CC494;
}
.wireframe-detail img {
    width: 40%;
    height: auto;
    border: 1px solid rgb(117, 118, 118);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.wireframe-padding p{
    text-align: center;
}
.prototype img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#diagram {
    width: 60%;
}
.before-after-content {
    display: grid;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-column-gap: 1rem;
}
.before-after-content img {
    width: 40%;
    height: auto;
    /* border: 1px solid rgb(117, 118, 118); */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.before-after-content h3{
    text-align: center;
}

/* footer */
.footer {
    display: flex;
    grid-template-columns: 80% auto;
    justify-content: space-between;
    padding: 3em;
}
.footer p {
    color: black;
    font-size: 15px;
    font-family: Verdana, sans-serif;
}
.contact p:hover {
    background-color: #73facb;
}

#myBtn {
    font-size: 15px;
    font-family: Verdana, sans-serif;
    cursor: pointer; 
    background-color: #73FACB;
    border: none;
}