html {   scroll-behavior: smooth; }

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    padding: 1.5em;
}
a {
    text-decoration: none;
    color: black;
    font-family: Lato, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
header a{
    font-size: 1.8em;
}
header svg{
    width: 3em;
    margin-top: .1em;
    cursor: pointer;
}
.sticky {
    position: fixed;
    top:0;
    padding: 1em;
    width: 94%;
  }
  
nav{
    position: fixed; 
    right:0;
    top: 0;
    background: #1CE9B8;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}
nav ul { 
    list-style-type: none;
    padding: 0;
    margin-top: .8em;
    font-size: .8em;
}
nav a {
    padding: 1em 2em;
    display: block;
}
nav a:hover {
    background-color: rgb(28, 27, 27);
    color: rgb(242, 240, 240);
}
.close{
    float: right;
    padding: 1.5em;
    width: 2.5em;
}


.hero-header {
    background-color:#87DCAD;
    background-image:  linear-gradient(#87DCAD, #B6FFD7);
    width: 100%;
    height: 120%;
}
.preface {
    display: block;
}
.recycle-img {
    display: inline-block;
    width: 40%;
    margin-left: 12%;
    margin-right: 5%;
}
.preface-info {
    display: inline-block;
    width: 40%;
    text-align: top;
    font-family:'Inter', sans-serif;
}
#hero-h1 {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 25%;
    margin-bottom: 5%;
    text-align: center; 
    width: 65%;
    height: 80%;
    font-size: 3.6vw;
    font-family:'Inter', sans-serif;
    vertical-align: top;
}
#hero-h2{
    padding-left: 23%;
    padding-right: 23%;
    padding-bottom: 12%;
    color :#333333;
    text-align: center; 
    width: 60%;
    height: 80%;
    font-size: 2vw;
    font-family: 'Playfair Display', serif;
    vertical-align: top;
    line-height: 1.8;
}

.website-img {
    /* display: block; */
    margin-top: -5%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 60%;
}
.introduction {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 8%;
    font-family:'Inter', sans-serif;
    width: 65%;
    height: 10%;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
}
.design-process h2 {
    font-family:'Inter', sans-serif;
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.design-process p {
    font-family: 'Playfair Display', serif;
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: -5%;
    /* padding-bottom: 5%; */
}
.design-process img{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.experience {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    font-family:'Inter', sans-serif;
    /* font-size: 2vw; */
    width: 65%;
    height: 10%;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
}
.myhypothese {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    font-family:'Inter', sans-serif;
    width: 65%;
    height: 10%;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
}
.empathize {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    font-family:'Inter', sans-serif;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
.user-keyfindings{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} 
.keyfinding-info {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
    font-family:'Inter', sans-serif;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
.define-problem {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    font-family:'Inter', sans-serif;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.ideate {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    font-family:'Inter', sans-serif;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
.ideate-crazy8 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ideate-crazy8 img{
   width: 45%;
   display: inline-block;
   padding-left: 2.3%;
   padding-right: 2.3%;
   padding-top: 6%;
}
.user-flow {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    font-family:'Inter', sans-serif;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
.wireframe img{
    border: 1px solid slategray;
    margin-bottom: 30px;

}
.wireframes{
    padding-top: 3%;
    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-column-gap: 1rem;
}
.wireframe-detail {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid #6CC494;
}
.wireframe-detail img {
    width: 40%;
    height: auto;
    border: 1px solid rgb(117, 118, 118);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.wireframe-padding p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.usability {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    font-family:'Inter', sans-serif;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
.affinity-diagram{
    display: block;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 6%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.prototype{
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    font-family:'Inter', sans-serif;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
.prototype-mobile {
    display: block;
    /* padding-left: 20%;
    padding-right: 20%; */
    padding-top: 6%;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}
.proto-video {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    font-family:'Inter', sans-serif;
    width: 65%; 
    font-size: 1.8vw;
}

.testing {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    font-family:'Inter', sans-serif;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
.final{
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 6%;
    font-family:'Inter', sans-serif;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.6;
}
/* footer */
.footer {
    display: flex;
    grid-template-columns: 80% auto;
    justify-content: space-between;
    padding: 3em;
}
.footer p:hover {
    color: #73facb;
}

.footer p {
    color:#4a4848;
    font-size: 20px;
    font-family:'Inter', sans-serif;
 
}
.contact p:hover {
    background-color: #73facb;
}

#myBtn {
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin-top: 8px;
    color: #4a4848;
    font-family:'Inter', sans-serif;
    cursor: pointer; 
    border: none;
    background: none;
}
#myBtn:hover {
    background-color: #B6FFD7;
}

.open-nav {
    transform: translateX(0);
}

@media screen and (min-width: 900px){
    .menu {
        display: none;
    }
    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }
    svg.close {
        display: none;
    }
    nav ul {
        display: flex;
        margin: 0;
        font-size: .5em;
    }
    nav a {
        padding: .5em  .8em;
    }
    nav a:hover {
        background: none;
        color: black;
        text-decoration: underline 5px solid #1CE9B8;
    }
}