@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&?family=Source+Serif+Pro:wght@300?family=Fira+Sans:wght@500&display=swap');
html {   scroll-behavior: smooth; }
body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
   
    
}
h2 {
    /* font-family: 'Bebas Neue', cursive; */
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    text-decoration: underline 5px solid #73facb;
}
h3 {
    /* font-family: 'Bebas Neue', cursive; */
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
}
p {
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.6em;
    /* width: 85%; */
}


a {
    text-decoration: none;
    color: black;
    font-family: Lato, sans-serif;
}
header{
    padding: 1.5em;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
header a{
    font-size: 2.3em;
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
}
header svg{
    width: 3em;
    margin-top: .1em;
    cursor: pointer;
}
.sticky {
    position: fixed;
    top:0;
    /* padding: .2em; */
    width: 94%;
    padding: 1.8em;
  }
  
nav{
    position: fixed; 
    right:0;
    top: 0;
    background: #1CE9B8;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}
nav ul { 
    list-style-type: none;
    padding: 0;
    margin-top: .8em;
    font-size: .8em;
}
nav a {
    padding: 1em 2em;
    display: block;
}
nav a:hover {
    background-color: rgb(28, 27, 27);
    color: rgb(242, 240, 240);
}
.close{
    float: right;
    padding: 1.5em;
    width: 2.5em;
}

/* main-contemt */
.heroimage {
    width: 100%;
}

.hero-header{
    display: block;
    border-top:  5px solid rgb(101, 210, 152);
}
.header-detail{
    display: inline-block;
    width: 30%;
    /* margin-top: .9rem; */
}
.header-detail p{
    display: inline-block;
    font-size:  1em;
    width: 120%;
    margin-left: 3rem;
    line-height: 1;
}
.recycle-often {
    display: flex;
    width: 70%;
    margin:auto;
}
.recycle-often p{
    background-color: rgb(101, 210, 152);
    border-radius: 3%;
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 600;
    font-size:.9em;
    font-style: normal;
    padding: 2%;
    margin-left:3%;
    width: 100px;
    height: 100px;
}

#hero-h1 {
    display: inline-block;
    padding-left: 18%;
    text-align: center; 
    width: 20%;
    font-size: 1.5em;
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 600;
    font-style: normal;
    vertical-align: top;
}
#hero-h2{
    padding-left: 23%;
    padding-right: 23%;
    padding-bottom: 10%;
    color :#333333;
    text-align: center; 
    width: 55%;
    font-size: 1.5em;
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    vertical-align: top;
}

.preface {
    display: block;
    padding-top: 8%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.background {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    width: 60%;
    height: 10%;
    /* line-height: 1.6; */
    margin-left: auto;
    margin-right: auto;
}
.background h3 {
    width: 80%;
}

.problem-statement{
    display: block;
    margin:0;
    background-color: rgb(225, 254, 238);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    width: 60%;
    height: 10%;
    /* line-height: 1.6; */
    margin-left: auto;
    margin-right: auto;
}
.recycle-img {
    display: inline-block;
    width: 45%;
    margin-left: 10%;
    margin-right: 2%;
}
.preface-info {
    display: inline-block;
    width: 36%;
    text-align: top;
}



.core-features {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 8%;
}
.core-features p{
    background-color: rgb(101, 210, 152);
    border-radius: 3%;
    padding: 2%; 
    width: 80px;
    height: 80px;
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 600;
    font-style: normal;
    
}

.ideate {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.ideate li {
    padding-top: 3%;
    width: 88%;
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    /* line-height: 1.3; */
    font-size: 1em;
}
.handwireframe {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    margin-left: auto;
    margin-right: auto;
    /* line-height: 1.6; */
}
#ideate-crazy81{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
}

#ideate-crazy8{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
}
.user-flow {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* line-height: 1.6; */
}
.wireframe-picture{
    width: 100%;

}
.low-wireframe{
    display: block;
    /* padding-left: 20%;
    padding-right: 20%; */
    padding-top: 6%;
    width: 58%;
    margin-left: auto;
    margin-right: auto;
    /* line-height: 1.6; */
}
.low-wireframe p{
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    /* line-height: 1.3; */
    padding-top: 3%;
    font-size: 1em;
}
.wireframe img{
    border: 1px solid slategray;
    margin-bottom: 30px;

}
.wireframes{
    padding-top: 3%;
    /* display: grid;
    grid-template-columns: 1fr 1fr ; */
    display: flex;
    /* grid-column-gap: 1rem; */
}
.wireframe-detail {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 60%;
    border: 1px solid #6CC494;
}
.wireframe-detail img {
    width: 50%;
    height: auto;
    border: 1px solid rgb(117, 118, 118);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.wireframe-padding p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}
.usability {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

.usability p {
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}
.usability li {
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    width: 85%;
}
.affinity-diagram{
    display: block;
    padding-top: 6%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.prototype{
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* line-height: 1.6; */
}

.prototype-mobile {
    display: block;
    padding-top: 1%;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}
.proto-video {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    font-family: acumin-pro,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    width: 60%; 
}
.high-interview {
    display:block;
    width: 80%;
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
}
.high-interview img{
    display:  inline-block;
}
.usability-testing{
    display: block;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 10%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* line-height: 1.6; */
}
.keychanges-user{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.changed-prototype{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    width: 80%;
    /* margin-left: auto;
    margin-right: auto; */
}
.final{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* line-height: 1.3; */
}
.final p {
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;    
    padding-bottom: 6%;
}
/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 3em;
}
.footer a {
    color:black;
    font-size: 1.2em;
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
}
.footer a:hover {
    background-color: #73facb;
}

#myBtn {
    font-size: 1.2em;
    color: black;
    font-family: acumin-pro-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer; 
    border: none;
    background: none;
}
#myBtn:hover {
    background-color: #73facb;
}

.open-nav {
    transform: translateX(0);
}

@media screen and (min-width: 900px){
    .menu {
        display: none;
    }
    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }
    svg.close {
        display: none;
    }
    nav ul {
        display: flex;
        margin: 0;
        font-size: .5em;
    }
    nav a {
        padding: .5em  .8em;
    }
    nav a:hover {
        background: none;
        color: black;
        text-decoration: underline 5px solid #1CE9B8;
    }
    .header-detail{
        display: inline-block;
        width: 40%;
        margin-top: 1em;
    }
    .header-detail p{
        display: inline-block;
        width: 80%;
        margin-left: 10em;
        margin-top: .5em;
    }
    .recycle-often p{
        background-color: rgb(101, 210, 152);
        border-radius: 3%;
        font-family: acumin-pro-condensed,sans-serif;
        font-weight: 600;
        font-size:.8em;
        font-style: normal;
        padding: 2%;
        margin-left:3%;
        width: 100px;
        height: 100px;
    }
    
}
@media screen and (max-width: 500px){
    .menu {
        display: none;
    }
    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }
    svg.close {
        display: none;
    }
    nav ul {
        display: flex;
        margin: 0;
        font-size: .5em;
    }
    nav a {
        padding: .5em  .8em;
    }
    .hero-header {
        display: block;
        margin-left: 10%;
        margin-right:  10%;
    }
    #hero-h1 {
        font-size: 1em;
        font-family: acumin-pro-condensed,sans-serif;
        font-weight: 700;
        font-style: normal;
        width: 80%;
      
    }
    #hero-h2 {
        font-size: 1em;
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .background img{
        display: block;
    
    }
    .header-detail {
        width: 80%;
        display: block;
    }

    .header-detail p{
        font-size:.8em;
        width: 100%;
    }
    .preface-info {
        width: 100%;
        text-align: top;
    }
    .preface-info h3,p {
        font-size: 1em;
        font-family: acumin-pro-condensed,sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .experience {
        width: 100%;
    }
    h2 {
        font-family: acumin-pro-condensed,sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.4em;
    }
    h3 {
        font-family: acumin-pro-condensed,sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2em;
    }
    .proto-video {
        font-family: acumin-pro-condensed,sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2em;
    }
    .recycle-often {
        display: block;
        margin-left: 20%;
        margin-right: 20%;
    }
    .recycle-often p{
        display: block;
        margin-left: 20%;
        margin-right: 20%;
    }
    h4 {
        font-family: acumin-pro-condensed,sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1em;
    }
    p {
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }
    span{
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }
    .myhypothese li{
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }
    .keyfinding-info li{
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }
    .wireframes {
        display: block;
    }
    .define-problem li{
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }
    .define-problem p {
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }
    .ideate  li{
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }
    .low-wireframe p {
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }
    .wireframe-padding p {
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }
    .usability p, li{
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }
    .usability li{
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
        
    }
    .testing p{
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }
    .final p{
        font-family: acumin-pro,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }
    video {
        width: 60%;
    }
}
